@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "roboto-slab";
    src: url("./assets/fonts/roboto-slab-variable.ttf");
}

* {
    font-family: 'roboto-slab';
}

body {
    background-color: #454545;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

.svg-icon {
  @apply inline transition ease-in delay-[50ms] fill-[#8C8A8A] group-hover:fill-white
}

.normal-text {
  @apply text-[#CBCBCB] space-y-4
}

.content-title {
  @apply font-bold text-2xl text-white
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}