@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "roboto-slab";
    src: url("./assets/fonts/roboto-slab-variable.ttf");
}

* {
    font-family: 'roboto-slab';
}

body {
    background-color: #454545;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}